<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="dashboard-syllabus">
            <div class="div">
                <div class="text-wrapper">Finance and Economics</div>
                <div class="text-wrapper-2">Sustainable Finance and Investment</div>
                <div class="search-bar-on">
                    <div class="overlap-group">
                        <img class="group" src="img/group-3.png" />
                        <div class="text-wrapper-3">Search</div>
                    </div>
                </div>
                <div class="professor-avatar">
                    <div class="overlap"><div class="text-wrapper-4">A.K</div></div>
                </div>
                <div class="notifications">
                    <div class="overlap-2">
                        <img class="vector" src="img/vector.svg" />
                        <div class="ellipse"></div>
                        <div class="text-wrapper-5">2</div>
                    </div>
                </div>
                <img class="create-new-button" src="img/create-new-button.png" />
                <div class="overlap-3">
                    <div class="my-courses-dashboard">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="overlap-4">
                                    <div class="text-wrapper-6">M Courses</div>
                                    <img class="line" src="img/line-58.svg" />
                                    <div class="rectangle"></div>
                                    <div class="text-wrapper-7">Course Name</div>
                                    <div class="text-wrapper-8">Course ID</div>
                                    <div class="text-wrapper-9">School</div>
                                </div>
                                <div class="overlap-5">
                                    <div class="text-wrapper-10">Climate and Business</div>
                                    <div class="text-wrapper-11">CNB-101</div>
                                </div>
                                <div class="text-wrapper-12">University of Pennsylvania</div>
                                <div class="text-wrapper-13">Harvard University</div>
                                <div class="text-wrapper-14">MIT</div>
                                <div class="overlap-6">
                                    <div class="text-wrapper-15">FIN-203</div>
                                    <div class="text-wrapper-16">Finance Management</div>
                                </div>
                                <div class="text-wrapper-17">ACC-151</div>
                                <div class="text-wrapper-18">Accounting</div>
                                <img class="img" src="img/line-59.svg" />
                                <img class="line-2" src="img/line-60.svg" />
                            </div>
                        </div>
                    </div>
                    <img class="group-2" src="img/group-7120.png" />
                    <img class="group-3" src="img/group-7122.png" />
                    <img class="group-4" src="img/group-7124.png" />
                    <img class="group-5" src="img/group-7121.png" />
                    <img class="group-6" src="img/group-7123.png" />
                    <img class="group-7" src="img/group-7125.png" />
                </div>
                <div class="overlap-7">
                    <div class="overlap-8">
                        <div class="record">
                            <img class="img-2" src="img/image.svg" />
                            <div class="text-wrapper-19">Syllabus</div>
                            <div class="text-wrapper-20">Build</div>
                            <a href = "/recommendations">
                              <div class="text-wrapper-21">Search</div>
                            </a>
                        </div>
                        <img class="line-3" src="img/line-66.svg" />
                    </div>
                    <div class="home">
                        <div class="text-wrapper-22">Home</div>
                        <div class="home-icon"><img class="shape" src="img/shape.png" /></div>
                    </div>
                    <div class="settings">
                        <div class="text-wrapper-23">Settings</div>
                        <img class="carbon-settings" src="img/carbon-settings.svg" />
                    </div>
                    <div class="students">
                        <div class="text-wrapper-24">Students</div>
                        <img class="student" src="img/icons8-student.svg" />
                    </div>
                    <div class="classes">
                        <div class="text-wrapper-24">Classes</div>
                        <img class="healthicons-i" src="img/healthicons-i-training-class.svg" />
                    </div>
                    <div class="statistic">
                        <div class="text-wrapper-19">Grades</div>
                        <img class="img-2" src="img/akar-icons-statistic-down.svg" />
                    </div>
                    <a href = "/login">
                      <div class="logout">
                          <div class="text-wrapper-19">Log Out</div>
                          <img class="vector-2" src="img/vector-2.svg" />
                      </div>
                    </a>
                    <div class="syllabot-logo">
                        <div class="edudash-logo"><div class="text-wrapper-25">Syllabot</div></div>
                        <img class="cast-for-education" src="img/cast-for-education.svg" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
