<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="dashboard">
      <div class="div">
        <div class="overlap">
          <div class="record">
            <img class="img" src="img/vector-2.svg" />
            <div class="text-wrapper">Syllabus</div>
          </div>
          <div class="home">
            <div class="text-wrapper-2">Home</div>
            <div class="home-icon"><img class="shape" src="img/shape.png" /></div>
          </div>
          <div class="settings">
            <div class="text-wrapper-3">Settings</div>
            <img class="carbon-settings" src="img/carbon-settings.svg" />
          </div>
          <div class="students">
            <div class="text-wrapper-4">Students</div>
            <img class="student" src="img/icons8-student.svg" />
          </div>
          <div class="classes">
            <div class="text-wrapper-4">Classes</div>
            <img class="healthicons-i" src="img/healthicons-i-training-class.svg" />
          </div>
          <div class="statistic">
            <div class="text-wrapper">Statistics</div>
            <img class="img" src="img/akar-icons-statistic-down.svg" />
          </div>
          <div class="logout">
            <div class="text-wrapper">Log Out</div>
            <img class="vector" src="img/vector.svg" />
          </div>
          <div class="syllabot-logo">
            <div class="edudash-logo"><div class="text-wrapper-5">Syllabot</div></div>
            <img class="cast-for-education" src="img/cast-for-education.svg" />
          </div>
        </div>
        <div class="text-wrapper-6">Hello, Professor!</div>
        <div class="search-bar-on">
          <div class="overlap-group">
            <img class="group" src="img/group-3.png" />
            <div class="text-wrapper-7">Search</div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="my-courses-dashboard">
            <div class="overlap-wrapper">
              <div class="overlap-3">
                <div class="overlap-4">
                  <div class="text-wrapper-8">M Courses</div>
                  <img class="line" src="img/line-58.svg" />
                  <div class="rectangle"></div>
                  <div class="text-wrapper-9">My Courses</div>
                </div>
                <div class="overlap-5">
                  <div class="text-wrapper-10">Climate and Business 101</div>
                  <div class="text-wrapper-11">Finance Management 203</div>
                  <div class="text-wrapper-12">Accounting 151</div>
                  <div class="overlap-6">
                    <img class="line-2" src="img/line-59.svg" />
                    <img class="line-3" src="img/line-60-2.svg" />
                    <div class="group-2">
                      <div class="overlap-group-wrapper">
                        <div class="div-wrapper"><div class="text-wrapper-13">View Course</div></div>
                      </div>
                      <div class="group-3">
                        <div class="div-wrapper"><div class="text-wrapper-13">View Course</div></div>
                      </div>
                      <div class="group-4">
                        <div class="div-wrapper"><div class="text-wrapper-13">View Course</div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="document-status">
            <div class="overlap-7">
              <div class="group-wrapper">
                <div class="group-5">
                  <div class="overlap-group-2">
                    <div class="overlap-8">
                      <div class="overlap-9">
                        <div class="text-wrapper-14">M Courses</div>
                        <div class="rectangle-2"></div>
                        <div class="text-wrapper-15">Documents</div>
                        <div class="text-wrapper-16">Status</div>
                      </div>
                      <img class="line-4" src="img/image.svg" />
                    </div>
                    <img class="line-5" src="img/line-59-2.svg" />
                    <img class="line-6" src="img/line-60.svg" />
                  </div>
                </div>
              </div>
              <div class="text-wrapper-17">Climate Finance Fundamentals Syllabus</div>
              <p class="uploaded-on">
                <span class="span">Uploaded on </span> <span class="text-wrapper-18">10/1/23</span>
              </p>
              <p class="edited-on"><span class="span">Edited on </span> <span class="text-wrapper-18">10/5/23</span></p>
              <p class="p"><span class="span">Uploaded on </span> <span class="text-wrapper-18">10/1/23</span></p>
              <div class="text-wrapper-19">Climate Finance Fundamentals Syllabus</div>
              <div class="text-wrapper-20">Climate Finance Fundamentals Syllabus</div>
            </div>
            <div class="calendar">
              <div class="calendar-2">
                <div class="month-year-line">
                  <img class="img-2" src="img/chevron-left.svg" />
                  <div class="month-year">October</div>
                  <img class="img-2" src="img/chevron-right.svg" />
                </div>
                <img class="line-7" src="img/line-21.svg" />
                <div class="day-date">
                  <div class="day-line">
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                    <div class="day"><div class="day-2">DAY</div></div>
                  </div>
                  <div class="date-line">
                    <div class="date-number-line">
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                    </div>
                    <div class="date-number-line">
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                    </div>
                    <div class="date-number-line">
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                    </div>
                    <div class="date-number-line">
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                    </div>
                    <div class="date-number-line">
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                      <div class="date"><div class="text-wrapper-21">1</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="notifications">
          <div class="overlap-10">
            <img class="vector-2" src="img/vector-3.svg" />
            <div class="ellipse"></div>
            <div class="text-wrapper-22">2</div>
          </div>
        </div>
        <div class="professor-avatar">
          <div class="overlap-11"><div class="text-wrapper-23">A.K</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
