<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Course Search</title>
</head>

<body>
    <form action="/search" method="POST">
        <div class="search-container">
            <div class="search-bar">
                <input type="text" id="user_input" name = "user_input" placeholder="Enter your prompt...">
                <button type = "submit" name="searchCourseButton">Search</button>
            </div>
        </div>
    </form>


    <div id="searchResults">
        <div class="course-container">
            {%if results %}
                {% for index in range(results[4]) %}
                    <div class="course">
                        <h3>{{ results[1][index] }} / {{ results[2][index] }}</h4>
                        <h5>{{ results[3][index] }}</h6>
                        <p>{{ results[0][index] }}</p>
                        <p></p>
                    </div>
                {% endfor %} 
            {% else %}
            
            {% endif %}
        </div>
    </div>
</body>

</html>
