<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-page">
        <div class="left-half">
            <div class="logo">
                <h1>Syllabot</h1>
            </div>
        </div>
        <div class="right-half">
            <div class="info">
                <p>
                  Syllabot is your ultimate syllabus assistant, leveraging the power of AI to supercharge your course planning.
                  <br /><br />With Syllabot, you don't just create syllabi; you craft dynamic learning journeys inspired
                  by top professors who've already excelled in your field. <br /><br />Harness a wealth of resources and
                  expertise to design syllabi that engage, educate, and inspire. <br /><br />Say goodbye to the hassle of
                  syllabus creation and hello to a smarter, more innovative way of teaching!</span>
                </p>
            </div>
            <div class="welcomeButtons">
                <a href="/signup"><button class="signup">Sign Up</button></a>
                <a href="/login"><button class="login">Log In</button></a>
            </div>
        </div>
    </div>
</body>
</html>
 -->

 <!DOCTYPE html>
<html>
<head>
    <!-- Include your external CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #EDEFF6">
        <div style="width: 720px; height: 900px; left: 0px; top: 0px; position: absolute; background: #5A46AA; border: 1px black solid"></div>
        <div style="width: 357px; left: 935px; top: 255px; position: absolute">
            <span style="color: black; font-size: 20px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Syllabot</span>
            <span style="color: black; font-size: 20px; font-family: Roboto; font-weight: 300; word-wrap: break-word">is your ultimate syllabus assistant, leveraging the power of AI to supercharge your course planning. <br/><br/>With Syllabot, you don't just create syllabi; you craft dynamic learning journeys inspired by top professors who've already excelled in your field. <br/><br/>Harness a wealth of resources and expertise to design syllabi that engage, educate, and inspire. <br/><br/>Say goodbye to the hassle of syllabus creation and hello to a smarter, more innovative way of teaching!</span>
        </div>
        <div style="width: 139px; height: 48px; left: 936px; top: 705px; position: absolute; background: #5A46AA; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px black solid"></div>
        <div style="width: 139px; height: 48px; left: 1135px; top: 705px; position: absolute; background: #D9D9D9; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 1px black solid"></div>
        <div style="width: 110px; height: 124px; left: 96px; top: 407px; position: absolute; border: 1px black solid">
            <div style="width: 110px; height: 124px; left: 0px; top: 0px; position: absolute">
                <div style="width: 100.83px; height: 93px; left: 4.58px; top: 15.50px; position: absolute; background: white"></div>
                <div style="width: 110px; height: 124px; left: 0px; top: 0px; position: absolute"></div>
            </div>
        </div>
        <div style="left: 256px; top: 411px; position: absolute; color: white; font-size: 80px; font-family: Jost; font-weight: 700; word-wrap: break-word">Syllabot</div>
        <!-- <div style="left: 976px; top: 718px; position: absolute; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Sign up</div>
        <div style="left: 1180px; top: 718px; position: absolute; color: black; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Log In</div> -->
        <a href="/signup" style="left: 976px; top: 718px; position: absolute; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Sign up</a>
        <a href="/login" style="left: 1180px; top: 718px; position: absolute; color: black; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word">Log In</a>

        <div style="width: 74px; height: 74px; left: 834px; top: 244px; position: absolute; background: #46AA5A; border: 1px black solid"></div>
    </div>
</body>
</html>



