<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-page">
        <div class="left-half">
            <div class="logo">
                <h1>Syllabot</h1>
            </div>
        </div>
        <div class="right-half">
            <div class="info">
                <p>
                  Syllabot is your ultimate syllabus assistant, leveraging the power of AI to supercharge your course planning.
                  <br /><br />With Syllabot, you don't just create syllabi; you craft dynamic learning journeys inspired
                  by top professors who've already excelled in your field. <br /><br />Harness a wealth of resources and
                  expertise to design syllabi that engage, educate, and inspire. <br /><br />Say goodbye to the hassle of
                  syllabus creation and hello to a smarter, more innovative way of teaching!</span>
                </p>
            </div>
            <div class="welcomeButtons">
                <a href="/signup"><button class="signup">Sign Up</button></a>
                <a href="/login"><button class="login">Log In</button></a>
            </div>
        </div>
    </div>
</body>
</html>

